// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";


.my-test {
    // height: 800px;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}

.main-image-1 {
    background: url("../assets/images/hurricane-main.jpg"); // https://pixabay.com/photos/key-west-florida-hurricane-dennis-81664/
}

.main-image-2 {
    background: url("../assets/images/wildfire-main.jpg"); // https://pixabay.com/illustrations/forest-fire-forest-climate-change-3836834/
}

.main-image-3 {
    background: url("../assets/images/tornado-main.jpg"); // https://unsplash.com/photos/8hBPvS_bGkA
}

.landing-main-adjustments {
    padding-top: 0;
}

.landing-container-adjustments {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-overlay {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.main-top-text {
    color: white;
    font-weight: 500;
    font-size: 90px;
}

.main-bottom-text {
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.expand-width {
    width: 100%;
}

.blue-identify {
    background-color: lightblue;
}

.set-disaster-max-height {
    max-height: 500px;
}

.individual-disaster-header-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disaster-header {
    background-color: rgb(41, 49, 210); // 41, 49, 210
}

.inner-button {
    width: 50%;
    margin: 0 auto;
}

.disaster-data-text {
    font-size: large;
}

.with-top-padding {
    padding-top: 20px;
}

.with-no-bottom-margin {
    margin-bottom: 0;
}

.button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-information-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-log-in-greeting {
    margin-right: 20px;
}

.top-search-field {
    width: 80%;
    margin-right: 0;
    padding-right: 0;
}

.top-search-button {
    width: 20%;
}

.dashboard-search-container {
    display: flex;
    flex-direction: row;
}

.add-disaster-button {
    margin-top: 10px;
}

.no-search-match-text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.small-disaster-data {
    font: medium;
}

.disaster-display {
    display: flex;
    flex-direction: row;
}

.disaster-details-block {
    margin-top: 20px;
}

.disaster-button-block {
    border-top: 1px solid;
    border-color: #d8dbe0;
    padding-top: 20px;
}

.disaster-card-body {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.witness-quote-statement {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.witness-quote-author {
    padding-left: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-color: #d8dbe0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.credits-sub-text {
    margin-top: 20px;
    max-width: 800px;
}

.single-disaster-card {
    max-width: 1000px;
}

.single-disaster-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.witness-report-card-body {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.disaster-author-text {
    margin-bottom: 0;
    margin-left: 10px;
}

.observer-identifier-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.witness-report-username-text {
    font-size: large;
    margin-bottom: 0;
    margin-left: 10px;
}

.dashboard-centered-entity {
    display: flex;
    flex-direction: column;
}