// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";


.my-test {
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}

.main-image-1 {
    background: url("../assets/images/hurricane-main.jpg"); // https://pixabay.com/photos/key-west-florida-hurricane-dennis-81664/
}

.main-image-2 {
    background: url("../assets/images/wildfire-main.jpg"); // https://pixabay.com/illustrations/forest-fire-forest-climate-change-3836834/
}

.main-image-3 {
    background: url("../assets/images/tornado-main.jpg"); // https://unsplash.com/photos/8hBPvS_bGkA
}

.card-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.main-top-text {
    color: white;
    font-weight: 500;
    font-size: 90px;
}

.main-bottom-text {
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.expand-width {
    width: 100%;
}

.blue-identify {
    background-color: lightblue;
}

.set-disaster-max-height {
    max-height: 500px;
}

.individual-disaster-header-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disaster-header {
    background-color: rgb(41, 49, 210); // 41, 49, 210
}

.inner-button {
    width: 50%;
    margin: 0 auto;
}

.disaster-data-text {
    font-size: large;
}

.with-top-padding {
    padding-top: 20px;
}

.with-no-bottom-margin {
    margin-bottom: 0;
}

.button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-information-text {
    margin-top: 10px;
    margin-bottom: 10px;
}